## Python Class 1 - command to execute is shift+enter

## Comments in Python

In [222]:
# Comment means an non executable code

# Single line comment

'''
MUltiline comments
'''

'\nMUltiline comments\n'

## Print functions in Python

In [223]:

#keywords are group of words that have a specific functionality
print ("Hello World")

Hello World

In [224]:
#to check version of python
!python --version

Python 3.10.12

In [225]:
'''
Python is a interpretor.

code -> Compiler/interpretor(Syntax check) -> MachineCode

Compiler : Tries to execute the code at once
Interpretor : tries to compile the code line by line
'''

'\nPython is a interpretor.\n\ncode -> Compiler/interpretor(Syntax check) -> MachineCode\n\nCompiler : Tries to execute the code at once\nInterpretor : tries to compile the code line by line\n'

## Indentation

In [226]:
if 5 > 2:
  print ('Five is greater than two')

Five is greater than two

In [227]:
if 5 > 2:
  print ('hello')
  if 3 < 7:
    print ('hi')
    print ('1')

print ('Five is greater than two')

hello
hi
1
Five is greater than two

In [228]:
# This is a python class

'''
This is Ajay
DataScientist at DELL
'''

'\nThis is Ajay\nDataScientist at DELL\n'

## Variables

In [229]:
#variables are something that tend to change
x = 5
y = "King" # all the words or sentences should be in ""
print (x)
print (y)

5
King

In [230]:
#variable values can be replaced
x = 5
print (x)
x = 'Ram'
print (x)

5
Ram

In [231]:
x = 10
if x > 5:
  print ('Hello world')

Hello world

## Casting

In [232]:
x = 3
print (type(x)) # type is the keyword to find the datatype in python

<class 'int'>

In [233]:
x = int(3)
x = str(3)
x = float(3)

In [234]:
x

3.0

In [235]:
# declare a variable x with 100 and convert it to string and print

x = 100
y = str(x)
print (y)

100

In [236]:
str(100)

'100'

In [237]:
x = "John"
x = 'John'
# python '' or "" mean the same
type(x)

str

In [238]:
x = 'Ajay'
if x == 'Ajay':
  print ('My name is Ajay')

My name is Ajay

In [239]:
# formatting
x = 'Ajay'
if x == 'Ajay':
  print (f'My name is {x}')

My name is Ajay

In [240]:
apples = 40
oranges = 20

print (f'I boughts {apples} apples and {oranges} oranges')

I boughts 40 apples and 20 oranges

In [241]:
# Restrictions on how variable names are declared
'''
myvar,my_var,_my_var,myVar,MYVAR,myvar2 -- Legalones

2myvar,my-var, my var
'''

'\nmyvar,my_var,_my_var,myVar,MYVAR,myvar2 -- Legalones\n\n2myvar,my-var, my var\n'

In [242]:
x, y, z = 'Orange','Apple','Banana' # Many values to many vaiables

print (x)
print (y)
print (z)

Orange
Apple
Banana

In [243]:
x = y = z = 'Grapes' #one value to multiple variables

print (x)
print (y)
print (z)

Grapes
Grapes
Grapes

In [244]:
#unpack a collection

fruits = ['apple','banana','Mango']
x,y,z = fruits
print (x)
print (y)
print (z)

apple
banana
Mango

In [245]:
# 1. create collection of 4 names and print using format
# 2. Create a varibles names with 4 legal and 4 ilegal
# 3. Declare same value to 3 vaiables and convert first variable to string, second to float and third to float. print all three variables

In [246]:
names = ['Ravi','Raju','Ram','Vinay']

x,y,z,w = names

print (f'The name is {x}')
print (f'The name is {y}')
print (f'The name is {z}')
print (f'The name is {w}')

The name is Ravi
The name is Raju
The name is Ram
The name is Vinay

In [247]:
x=y=z=3
print (str(x))
print (float(y))
print (float(z))

3
3.0
3.0

# print function for multiple variables

In [248]:
a = 'United' #string
b = 'states' #string
c = ' '
print (a+b) #+ operator is used to concatenate two strings
print (a+c+b)
print (f'{a} {b}')

Unitedstates
United states
United states

In [249]:
# Qustion is I bought 4 apples as varibales : Concatenate them

x = 'I '
y = 'bought '
z = '4 '
w = 'apples'

print (x+y+z+w)

I bought 4 apples

## Functions

In [250]:
'''
Scenario : Addition of three numbers

1,2,3
4,5,6
7,8,9
'''

'\nScenario : Addition of three numbers\n\n1,2,3\n4,5,6\n7,8,9\n'

In [251]:
x = 1
y = 2
z = 3

print (x+y+z)

x = 4
y = 5
z = 6

print (x+y+z)

x = 7
y = 8
z = 9

print (x+y+z)

6
15
24

In [252]:
def sum3(x,y,z): # def funcname(arguments) : Function creation
  sum = x+y+z
  return sum

print (sum3(1,2,3)) # function calling
print (sum3(4,5,6)) # function calling
print (sum3(7,8,9)) # function calling

6
15
24

In [253]:
# declare a variable with a value awesome and create a function that prints "Python is awesome"

def func1(a): #varibles that are there in the method are called local variables
  x = 'fantastic'
  print (f'Python is {a}')

x = 'awesome' #varibles that are declared outside the method are called as global variables
func1(x)

Python is awesome

In [254]:
variable = "awesome"
def print_x(m):
    print("Python is",m)

print_x(variable)

Python is awesome

In [255]:
# python method to find sum and multiplication of three numbers
# hint : methodname(2,3,4,'sum')

def summul(a,b,c,operation):
  if operation == 'sum':
    ans = a+b+c

  if operation == 'mul':
    ans = a*b*c

  return ans

In [256]:
summul(2,3,4,'sum')

9

In [257]:
summul(2,3,4,'mul')

24

In [258]:
5%2

1

In [259]:
# python method findevenorodd(45)
#Hint : num % 2 == 0 : % Remainder

In [260]:
def findevenorodd(num):
  if (num % 2 == 0):
    print ('even')
  if (num % 2 != 0):
    print ('odd')

findevenorodd(444)

even

In [261]:
def findevenorodd(num):
  if (num % 2 == 0):
    result = 'even'
  if (num % 2 != 0):
    result = 'odd'
  return result

findevenorodd(444)

'even'

## DataTypes in Python

In [262]:
'''
Text type : str
NUmeric ical TYpes : int, float, comple
Sequene datatypes : list, tuple and range
Mapping TYpe : dict
settypes : set
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''
x = 'Dog killed a cat'
y = 64
z = 75.432
m1 = ['aijigr','fhuwhebr','fg'] # list needs to be in square bracket, list can take only strings, only numbers or both
m2 = [4,5.67,5.21]
m3 = ['deesg',4.4,'gregr']
n1 = ()
l1 = [i for i in range(10)]
l2 = [i for i in range(0,5)] #(start position, end_position)
l3 = [i for i in range(0,5,2)]

In [263]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [264]:
l2

[0, 1, 2, 3, 4]

In [265]:
l3

[0, 2, 4]

In [266]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [267]:
l2 = [i for i in range(20,40)]
l2 = [i for i in range(20,40,4)]

In [268]:
x = 1
y = 2.8

In [269]:
type(x)

int

In [270]:
type(y)

float

In [271]:
a = float(x)
b = int(y)

In [272]:
import random #import is a keyword to call the libraries into your code
random.randrange(1,10)

2

In [273]:
x = "1"
float(x)

1.0

## Strings

In [274]:
a = 'Hello'
print (a)

Hello

In [275]:
b = """
This is a Datascince course
We are in batch 2
We started with python
"""
print (b)

This is a Datascince course
We are in batch 2
We started with python

In [276]:
a = "I like icecream"

In [277]:
a[0]

'I'

In [278]:
len(a)

15

In [279]:
for i in a:
  print(i)

I

l
i
k
e

i
c
e
c
r
e
a
m

In [280]:
for i in range(0,len(a)):
  print (a[i])

I

l
i
k
e

i
c
e
c
r
e
a
m

In [281]:
a

'I like icecream'

In [282]:
a.split('like')

['I ', ' icecream']

In [283]:
str1 = 'My name is Ajay'
print(str1.split(' '))

['My', 'name', 'is', 'Ajay']

In [284]:
str1 = "This is a basic class on python"
print ("class" in str1)

True

In [285]:
if "class" in str1:
  print ('Yes class is present in the text')

Yes class is present in the text

In [286]:
print ("class" not in str1)

False

In [287]:
print ('expensive' not in str1)

True

In [288]:
str2 = "hello world"
str2[2:5] #[staartposition:endposition]

'llo'

In [289]:
str2[:4]

'hell'

In [290]:
str2[3:]

'lo world'

In [291]:
str2[-5:-1]

'worl'

In [292]:
str2[-1:-2]

''

In [293]:
str2[-1:-5]

''

In [294]:
str3 = "Rama killed Ravana"
str3.upper()

'RAMA KILLED RAVANA'

In [295]:
str3.lower()

'rama killed ravana'

In [296]:
str3.replace('Rama','King od Ayodhya')

'King od Ayodhya killed Ravana'

In [297]:
str3 = "rama killed Ravana"
str3.upper()

'RAMA KILLED RAVANA'

In [298]:
str3.capitalize()

'Rama killed ravana'

In [299]:
a = 'Hello'
b = 'World'

In [300]:
a + b

'HelloWorld'

In [301]:
a + ' ' + b

'Hello World'

In [302]:
x = 5

In [303]:
print (f'I bought {x} apples')

I bought 5 apples

In [304]:
str4 = 'I bought {} apples'
str4.format(x)

'I bought 5 apples'

In [305]:
'''
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''

'\nMethod\tDescription\ncapitalize()\tConverts the first character to upper case\ncasefold()\tConverts string into lower case\ncenter()\tReturns a centered string\ncount()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisascii()\tReturns True if all characters in the string are ascii characters\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle()\tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning\n'

##Boolean Operators

In [306]:
print (10 > 5)

True

In [307]:
print (10 == 9)

False

In [308]:
print (10<9)

False

In [309]:
a = 200
b = 13
if b >a:
  print ('hi')
else:
  print ('hello')

hello

In [310]:
def evenodd(x):
  for j in x:

    if j % 2 == 0:
      print (j)



l1 = [i for i in range(0,10)]
evenodd(l1)

0
2
4
6
8

## operators

In [311]:
def mathfunc(a,b,operation):

  if operation == 'addition':
    return a+b

In [312]:
x = 10
y = 20

In [313]:
mathfunc(x,y,'addition')

30

In [314]:
from IPython.core.compilerop import operator
def mathfunc(a,operation):

  if operation == 'addition':
    sum = 0
    for i in a:
      sum = sum + i
    return sum

  if operation == 'substraction':
    sub = a[0]
    for i in a[1:]:
      sub = sub-i
    return sub

  if operation == 'multiplication':
    total = 1
    for i in a:
      total = total*i
    return total

  if operation == 'division':
    div = a[0]
    for i in a[1:]:
      div = div/i
    return div

In [315]:
l1 = [10,20]

In [316]:
mathfunc(l1,'addition')

30

In [317]:
mathfunc(l1,'substraction')

-10

In [318]:
mathfunc(l1,'multiplication')

200

##Operators

In [319]:
'''
Arithmentic
Assignment operators
Logical operators
'''

'\nArithmentic\nAssignment operators\nLogical operators\n'

In [320]:
x = 5
y = 10

In [321]:
x+y

15

In [322]:
x-y

-5

In [323]:
x*y

50

In [324]:
x/y

0.5

In [325]:
# % modulus : Givens the remainder of division
x % y

5

In [326]:
x = 7
y = 3

print (x/y)

2.3333333333333335

In [327]:
print (x//y) # // performs rounding of the quotient

2

In [328]:
l1 = [5,7]
l1[0]//l1[1]

0

In [329]:
l1 = [i for i in range(0,10)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [330]:
a =list(range(0,10))

In [331]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [332]:
total = 1
for i in range(0,len(a)):
  if i %2 == 0:
    total = total*i

In [333]:
l2 = [i for i in range(10,20)]

In [334]:
l2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [335]:
for i in l2:
   i = i+3
   print (i)

13
14
15
16
17
18
19
20
21
22

In [336]:
l2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [337]:
for i in l2:
   #i = i+3
   i += 3 # variable = variable + somenumber -> Assignment Operators
   print (i)

13
14
15
16
17
18
19
20
21
22

In [338]:
for i in l2:
  i -= 3 #i = i -3
  print (i)

7
8
9
10
11
12
13
14
15
16

In [339]:
for i in l2:
  i *= 3 #i = i -3
  print (i)

30
33
36
39
42
45
48
51
54
57

In [340]:
## Comparision operators

In [341]:
x = 7
y = 10

x == y

False

In [342]:
x != y

True

In [343]:
x > y

False

In [344]:
x < y

True

In [345]:
x >= y

False

In [346]:
x <= y

True

In [347]:
## logical operators

x = 7 # if 7 is between 5 and 10

(x > 5) and (x < 10) # and operation both comparisions have to be true

True

In [348]:
(x < 5) or (x < 10)

True

In [349]:
x = 5
(x < 10) and (x < 0) and (x==5)

False

In [350]:
(x < 10) or (x < 0) and (x==5)

True

## LIsts

In [351]:
l1 = ["apples","bananas","mangoes"]

#lists are mutable
#either only numbers or only strings or both
type(l1)

list

In [352]:
l1 = ("apples","bananas","mangoes")
l2 = list(l1)

In [353]:
l2

['apples', 'bananas', 'mangoes']

In [354]:
l2[2]

'mangoes'

In [355]:
['apples', 'bananas', 'mangoes'] # positive positions[0,1,2] and negative positions[-3,-2-1]

['apples', 'bananas', 'mangoes']

In [356]:
l2[-2]

'bananas'

In [357]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [358]:
thislist[1:5] # start:end it will always print from start till end-1

['banana', 'cherry', 'orange', 'kiwi']

In [359]:
thislist[0:4] # (startposition,endpoisiton-1)

['apple', 'banana', 'cherry', 'orange']

In [360]:
thislist[:4]

['apple', 'banana', 'cherry', 'orange']

In [361]:
thislist[-3:-1] # print from -3 to -1-1 = -2

['kiwi', 'melon']

In [362]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

if "Cherry" in thislist: #question : do it using for loop
  print ('hi')

In [363]:
#changing items in the list
thislist[2] = 'watermelon'

In [364]:
thislist

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [365]:
thislist[1:3]

['banana', 'watermelon']

In [366]:
thislist[1:3] = ['onoins','tomatos']

In [367]:
thislist

['apple', 'onoins', 'tomatos', 'orange', 'kiwi', 'melon', 'mango']

In [368]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.insert(2,'eatermelon')
thislist

['apple', 'banana', 'eatermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [369]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.insert(-1,'eatermelon')
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'eatermelon', 'mango']

In [370]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

thislist.append('eatermelon')

In [371]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'eatermelon']

In [372]:
l1 = [i for i in range(0,100)]

even = []
odd = []

for i in l1:
  if i%2 ==0:
    even.append(i)
  if i%2 !=0:
    odd.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [373]:
multiply = []
for j in l1:
  if j % 3 == 0:
    multiply.append(j)

In [374]:
thislist1 = ["apple", "banana", "cherry"]
thislist2 = ["orange", "kiwi", "melon", "mango"]

thislist1.extend(thislist2)

In [375]:
thislist1

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [376]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

# remove cherry from the list using indexing and extend

In [377]:
l1 = thislist[:2]
l2 = thislist[3:]

In [378]:
l2

['orange', 'kiwi', 'melon', 'mango']

In [379]:
l1

['apple', 'banana']

In [380]:
l1.extend(l2)

In [381]:
l1

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

In [382]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.remove('cherry')

In [383]:
thislist

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

In [384]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.pop(2)

'cherry'

In [385]:
thislist

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

In [386]:
#looping throught the list

In [387]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for i  in thislist:
  print (i)

apple
banana
cherry
orange
kiwi
melon
mango

In [388]:
for i in range(0,len(thislist)):
  print (thislist[i])

apple
banana
cherry
orange
kiwi
melon
mango

In [389]:
i = 0#1
while(i<len(thislist)):#2
  print (thislist[i])
  i = i+1#3

apple
banana
cherry
orange
kiwi
melon
mango

In [390]:
[print(x) for x in thislist]

apple
banana
cherry
orange
kiwi
melon
mango

[None, None, None, None, None, None, None]

In [391]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
newlist = []

####
# TODO : append elemts to the newlist of charcter a is present in the word
###

for i in thislist:
  if 'a'in i:
    newlist.append(i)
print (newlist)

['apple', 'banana', 'orange', 'mango']

In [392]:
newlist = [x for x in thislist if 'a' in x]

In [393]:
newlist

['apple', 'banana', 'orange', 'mango']

In [394]:
## sorting

In [395]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()

In [396]:
thislist

[23, 50, 65, 82, 100]

In [397]:
thislist.sort(reverse = True)

In [398]:
thislist

[100, 82, 65, 50, 23]

In [399]:
# create a function that calculates n-50 and check it this is less that zero you have to multply with -1

In [400]:
def func1(n):
  i = n-50
  if i < 0:
    i *= -1
  return i

In [401]:
func1(10)

40

In [402]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = func1)

In [403]:
thislist

[50, 65, 23, 82, 100]

In [404]:
'''
[50,0,15,32,27]
[0,1,2,3,4]
Sorted position [1,2,4,3,0]

'''

'\n[50,0,15,32,27]\n[0,1,2,3,4]\nSorted position [1,2,4,3,0]\n\n'

## copy lists

In [405]:
list1 = [12,23,546,768]
list2 = list1.copy()

In [406]:
list2

[12, 23, 546, 768]

In [407]:
list2[2] = 45

In [408]:
list2

[12, 23, 45, 768]

In [409]:
list1

[12, 23, 546, 768]

In [410]:
list1[2] = 21

In [411]:
list1

[12, 23, 21, 768]

In [412]:
list2 #these are called objects

[12, 23, 45, 768]

In [413]:
list1 = ["a","b","c"]
list2 = [1,2,3]

In [414]:
list1 + list2

['a', 'b', 'c', 1, 2, 3]

In [415]:
for i in list2:
  list1.append(i)

In [416]:
list1

['a', 'b', 'c', 1, 2, 3]

## TUples

In [417]:
tup1 = ('aj','an','by')
print (tup1)

('aj', 'an', 'by')

In [419]:
tup1.append('b')

AttributeError: ignored

In [420]:
len(tup1)

3

In [421]:
type(tup1)

tuple

In [422]:
a1 = ("apple",)
print (a1)

('apple',)

In [423]:
print (type(a1))

<class 'tuple'>

In [424]:
tup1 = ('aj','an','by')
tup1 = list(tup1)
tup1.append('cz')
tup1 = tuple(tup1)
print (tup1)

('aj', 'an', 'by', 'cz')

In [425]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)

thistuple + y

('apple', 'banana', 'cherry', 'orange')

## Unpack

In [426]:
thistuple = ("apple", "banana", "cherry")

In [427]:
(a,b,c) = thistuple

In [428]:
a

'apple'

In [429]:
b

'banana'

In [430]:
c

'cherry'

In [431]:
thistuple = ("apple", "banana", "cherry")
(a,*b) = thistuple

In [432]:
a

'apple'

In [433]:
b

['banana', 'cherry']

In [434]:
for i in thistuple:
  print (i)

apple
banana
cherry

In [435]:
for j in range(0,len(thistuple)):
  print (thistuple[j])

apple
banana
cherry

In [436]:
j = 0

while(j<len(thistuple)):
  print (thistuple[j])
  j = j+1

apple
banana
cherry

## Sets

In [437]:
# sets unordererd, unchangeable, unindexed

In [438]:
myset = {"coconut","mango","orange"}

In [441]:
myset = {"coconut","mango","orange","orange"}
mytup = ("coconut","mango","orange","orange")
mylist = ["coconut","mango","orange","orange"]

print (myset)
print (mytup)
print (mylist)

{'mango', 'coconut', 'orange'}
('coconut', 'mango', 'orange', 'orange')
['coconut', 'mango', 'orange', 'orange']

In [439]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset) #sets treat True and 1 as same

{True, 2, 'banana', 'cherry', 'apple'}

In [440]:
type(thisset)

set

In [442]:
len(thisset)

5

In [443]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [444]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'papaya', 'banana', 'cherry', 'apple', 'pineapple'}

In [445]:
a = {'a','b','c'}
b = {1,2,3}

a.union(b)

{1, 2, 3, 'a', 'b', 'c'}

## Dictionaries

In [446]:
thisdict = {'Manoj':76,'Ram':46,'Vinay':56,'Nikhil':66} #{key:value}

In [447]:
thisdict

{'Manoj': 76, 'Ram': 46, 'Vinay': 56, 'Nikhil': 66}

In [448]:
thisdict['Vinay']

56

In [449]:
thisdict = {'Manoj':76,'Ram':46,'Vinay':56,'Nikhil':66,'Nikhil':76}

In [450]:
thisdict

{'Manoj': 76, 'Ram': 46, 'Vinay': 56, 'Nikhil': 76}

In [451]:
len(thisdict)

4

In [452]:
#keys in the dictinary
thisdict.keys()

dict_keys(['Manoj', 'Ram', 'Vinay', 'Nikhil'])

In [453]:
thisdict.values()

dict_values([76, 46, 56, 76])

In [454]:
q = 'governament'
q[7:]

'ment'

In [455]:
l1 = [i for i in range(0,100)]

even = []
odd = []
for i in l1:
  if i%2 == 0:
    even.append(i+3)
  if i%2 != 0:
    odd.append(i+7)

In [456]:
thisdict = {'Marks':20,'firstname':'Vinay','year':1998}

In [457]:
type(thisdict)

dict

In [458]:
thisdict.values()

dict_values([20, 'Vinay', 1998])

In [459]:
thisdict.keys()

dict_keys(['Marks', 'firstname', 'year'])

In [460]:
thisdict['Marks']

20

In [461]:
thisdict['Marks'] = 80
thisdict

{'Marks': 80, 'firstname': 'Vinay', 'year': 1998}

In [462]:
thisdict.items() #retruns a tuple of key value pairs

dict_items([('Marks', 80), ('firstname', 'Vinay'), ('year', 1998)])

In [463]:
for k,v in thisdict.items():
  print (k)
  print (v)

Marks
80
firstname
Vinay
year
1998

In [464]:
thisdict = {'marks_5_sunjects':[24,56,76,34,43],'Average':0,'Rank':1}

In [465]:
thisdict

{'marks_5_sunjects': [24, 56, 76, 34, 43], 'Average': 0, 'Rank': 1}

In [466]:
for k,v in thisdict.items():
  if k == 'marks_5_sunjects':
    sum = 0
    for j in v:
      sum += j
    av = sum/len(v)
  if k == 'Average':
    thisdict[k] = av

In [467]:
thisdict

{'marks_5_sunjects': [24, 56, 76, 34, 43], 'Average': 46.6, 'Rank': 1}

In [468]:
'''
Create a dictionary with keys as even_num_av and odd_num_av
consider list of numbers from 1 to 100
dict1 = {'even_num_av':....,'odd_num_av':......}
'''

"\nCreate a dictionary with keys as even_num_av and odd_num_av\nconsider list of numbers from 1 to 100\ndict1 = {'even_num_av':....,'odd_num_av':......}\n"

In [469]:
thisdict

{'marks_5_sunjects': [24, 56, 76, 34, 43], 'Average': 46.6, 'Rank': 1}

In [470]:
thisdict['height'] = 175

In [471]:
thisdict

{'marks_5_sunjects': [24, 56, 76, 34, 43],
 'Average': 46.6,
 'Rank': 1,
 'height': 175}

In [472]:
#to remove a key from dictinary
thisdict.pop('height')

175

In [473]:
thisdict

{'marks_5_sunjects': [24, 56, 76, 34, 43], 'Average': 46.6, 'Rank': 1}

In [474]:
## variants of for loops in dictionary
for x in thisdict:
  print (x)

marks_5_sunjects
Average
Rank

In [475]:
## variants of for loops in dictionary
for x in thisdict.keys():
  print (x)

marks_5_sunjects
Average
Rank

In [476]:
## variants of for loops in dictionary
for x in thisdict.values():
  print (x)

[24, 56, 76, 34, 43]
46.6
1

In [477]:
## variants of for loops in dictionary
for x,y in thisdict.items():
  print (x)
  print (y)

marks_5_sunjects
[24, 56, 76, 34, 43]
Average
46.6
Rank
1

In [478]:
friends = {'Vinay':{'Age':24,'height':156},'Rajesh':{'Age':26,'height':166},'Yesh':{'Age':28,'height':176}}

In [479]:
friends

{'Vinay': {'Age': 24, 'height': 156},
 'Rajesh': {'Age': 26, 'height': 166},
 'Yesh': {'Age': 28, 'height': 176}}

In [480]:
friends.keys()

dict_keys(['Vinay', 'Rajesh', 'Yesh'])

In [481]:
friends.values()

dict_values([{'Age': 24, 'height': 156}, {'Age': 26, 'height': 166}, {'Age': 28, 'height': 176}])

In [482]:
friends['Rajesh']

{'Age': 26, 'height': 166}

In [483]:
friends['Rajesh']['Age']

26

## If_Else_Condition

In [485]:
a = 33
b = 200

if b > a:
  print ('hi')

hi

In [486]:
a = 33
b = 33

if b > a:
  print ('hi')
elif b == a:
  print ('hello')
else:
  print ('world')

hello

In [487]:
'''
a = 200
b = 33

a > b : "a is greater than b"
a < b : "a is less than b"
else: "a is equal to b"
'''

'\na = 200\nb = 33\n\na > b : "a is greater than b"\na < b : "a is less than b"\nelse: "a is equal to b"\n'

In [488]:
if a > b:
  print ("a is greater than b")
elif a < b:
  print ("a is less than b")
elif a == b:
  print ("a is equal to b")

a is equal to b

In [489]:
if a > b:
  print ("a is greater than b")
elif a < b:
  print ("a is less than b")
else:
  print ("a is equal to b")

a is equal to b

In [490]:
# short hand notation
a = 2
b = 330

print (a) if a > b else print (b)

330

In [493]:
a = 200
b = 33
c = 500

if a>b and a>c:
  print ('hi')

In [494]:
if a>b or a>c:
  print ('hi')

hi

In [495]:
a = 33
b = 200

if not a > b:
  print ('hi')

hi

In [496]:
#nested if

x = 41

if x > 10:
  if x > 20:
    if x > 30:
      print ('hi')

hi

In [497]:
#nested if

x = 15

if x > 10:
  if x > 20:
    if x > 30:
      print ('hi')
  else:
    print ('world')

world

In [498]:
#nested if

x = 15

if x > 10:
  if x > 20:
    pass
  else:
    print ('world')
    if x > 30:
      print ('hi')

world

In [499]:
'''
dict1 = {'Ram':14,'Ravi':42,'Vinay':76,'Reshma':25}

stundents who has marks between 40 to 80

'''

"\ndict1 = {'Ram':14,'Ravi':42,'Vinay':76,'Reshma':25}\n\nstundents who has marks between 40 to 80\n\n"

In [500]:
dict1 = {'Ram':14,'Ravi':42,'Vinay':76,'Reshma':25}

for k,v in dict1.items():
  if v > 40 and v < 80:
    print(k)

Ravi
Vinay

In [501]:
l1 = [i for i in range(500)]
l2 = [i for i in range(501,1000)]

dict1 = {'range1':l1,'range2':l2}

## while loops

In [502]:
'''
while loop that print i from 0 to 6
'''

i = 0

while i < 6:
  print (i)
  if i == 3:
    break
  i = i + 1

0
1
2
3

In [504]:
i = 0
while i < 6:
  print (i)
  i = i + 1
  if i == 3:
    continue

0
1
2
3
4
5

In [505]:
l1 = ['apple','banana','cherry']

for x in l1:
  if x == 'banana':
    break
  else:
    print(x)

apple

In [507]:
l1 = [i for i in range(0,100,3)]

In [508]:
l1

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]