In [5]:
print("hari")

hari

In [6]:
a=[1,7,10,34,2,8]
"""
print("Largest Number :",max(a))
"""
max = a[ 0 ]
for i in a:
	if i > max:
		max = i
print("Largest Number :",max)

Largest Number : 34

In [7]:
x="Cats come from tiger family"
'Cats' and 'tiger' in x

True

In [8]:
def reverse (a):
    str = " "
    for i in s:
        str = i + str
    return str
s = "canvas"
print("the original string is:")
print(s)
print("the reversed string is:")
print(reverse(s))

the original string is:
canvas
the reversed string is:
savnac

In [9]:
def vowel_count(str):

    count = 0

    vowel = set("aeiouAEIOU")

    for alphabet in str:

        if alphabet in vowel:
            count = count + 1

    print("No. of vowels :", count)

str = "Rome is city"

vowel_count(str)

No. of vowels : 4

In [10]:
def count_letters(input_string):

    letter_count = 0

    for char in input_string:

        if char.isalpha():
            letter_count += 1

    return letter_count

input_string = input("Enter a string: ")

result = count_letters(input_string)
print(f"Number of letters in the string: {result}")

Enter a string: harikrishna
Number of letters in the string: 11

In [11]:
def count_characters(input_string):
    # Initialize variables to store counts
    num_count = 0
    upper_count = 0
    lower_count = 0
    special_count = 0

    # Iterate through each character in the input string
    for char in input_string:
        if char.isnumeric():
            num_count += 1
        elif char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
        else:
            special_count += 1

    return num_count, upper_count, lower_count, special_count

# Input string
input_string = "@pyTh)nlobb!Y34"

# Call the count_characters function and store the results
num_count, upper_count, lower_count, special_count = count_characters(input_string)

# Print the counts
print(f"Number of numeric characters: {num_count}")
print(f"Number of uppercase characters: {upper_count}")
print(f"Number of lowercase characters: {lower_count}")
print(f"Number of special characters: {special_count}")

Number of numeric characters: 2
Number of uppercase characters: 2
Number of lowercase characters: 8
Number of special characters: 3

In [12]:
l2 =[]
for i in range(0,10):
  l2.append(i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
l3=[]
for j in l2:
  if j%2==0:
    l3.append(j)
print(l3)

[0, 2, 4, 6, 8]

In [28]:
def reverse (a):
    str = " "
    for i in s:
        str = i + str
    return str
s = "canvas"
print("the original string is:")
print(s)
print("the reversed string is:")
print(reverse(s))

the original string is:
canvas
the reversed string is:
savnac

In [29]:
x = [100,200,300,400,500]
x[::-1]

[500, 400, 300, 200, 100]

In [30]:
print(x[::-1])

[500, 400, 300, 200, 100]

In [31]:
l1 = ["M","Na","i","ke"]
l2 = ["Y","me","s","lly"]
a = []
for i,j in zip(l1,l2):
  k = i+j
  a.append(k)

" ".join(a)

'MY Name is kelly'

In [32]:
a

['MY', 'Name', 'is', 'kelly']

In [33]:
a = []
list1 = ["Hello","take"]
list2 = ["dear","son"]
for i in list1:
  for j in list2:
    k = i+" "+j
    a.append(k)

In [34]:
a

['Hello dear', 'Hello son', 'take dear', 'take son']

In [35]:
list1 =[10,20,30,40]
list2 =[100,200,300,400]
a = []
rl2 = list2[::-1]
for i,j in zip(list1,rl2):
  print(i,j)

10 400
20 300
30 200
40 100

In [36]:
thistuple = ("apple","banana","cherry","mango")
len(thistuple)

4

In [37]:
type(thistuple)

tuple

In [38]:
t1 = ("apple","mango","banana")
t2 = ("1","2","3")
t3 = ("abc","bac","cde")

In [39]:
l1 = list(thistuple)
l1.append('orange')
thistuple = tuple(l1)

In [40]:
thistuple

('apple', 'banana', 'cherry', 'mango', 'orange')

In [41]:
l2 = list(thistuple)
l2.remove("orange")
thistuple = tuple(l2)

In [42]:
thistuple

('apple', 'banana', 'cherry', 'mango')

In [43]:
x = [" ","dra","fsr"]

x

[' ', 'dra', 'fsr']

In [44]:
x.remove(" ")

In [45]:
x

['dra', 'fsr']

In [49]:

l1 = [40,50,30,20,10,2,20,70,90,20]
r_item = 20
for item in l1:
	if(item == r_item):
		l1.remove(r_item)

In [50]:
l1

[40, 50, 30, 10, 2, 70, 90]

In [51]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
add = int(input("Enter number 7000:"))
list1[2][2].append(add)
print(list1)

Enter number 7000:7000
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [56]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [57]:
  c=['cat','dog']
  c[0][1]

'a'

In [58]:
num = '76542'
num[::-1]

'24567'

In [60]:
str = "pynative"
print(str[0::2])

pntv

In [67]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [68]:
list1[::-1]

[100, 200, 300, 400, 500]

In [69]:
way=[0]*2
way

[0, 0]

In [72]:
# Calculator
def calculate(operation, *args):
    if operation == 'A':
        result = args[0] + args[1]
    elif operation == 'S':
        result = args[0] - args[1]
    elif operation == 'M':
        result = args[0] * args[1]
    elif operation == 'D':
        if args[1] != 0:
            result = args[0] / args[1]
        else:
            return "Division by zero is not allowed."

    return result

def add_numbers():
    numbers = []
    while True:
        num = float(input("Enter a number: "))
        numbers.append(num)
        choice = input("Do you want to add one more number? (Y/N): ").strip().upper()
        if choice != 'Y':
            if len(numbers) < 2:
                print("Minimum 2 numbers are required.")
            else:
                return numbers

def get_numbers():
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    return num1, num2

def main():
    while True:
        operation = input("Enter the operation (A for Addition, S for Subtraction, M for Multiplication, D for Division): ").strip().upper()

        if operation == 'A':
            numbers = add_numbers()
        else:
            num1, num2 = get_numbers()
            numbers = (num1, num2)

        result = calculate(operation, *numbers)
        print("Result:", result)

        choice = input("Do you want to continue? (Y/N): ").strip().upper()
        if choice != 'Y':
            break

if __name__ == "__main__":
    main()

Enter the operation (A for Addition, S for Subtraction, M for Multiplication, D for Division): D
Enter the first number: 9
Enter the second number: 3
Result: 3.0
Do you want to continue? (Y/N): N

In [74]:
n = 51
if n % 2 == 0:
  print('even')
else:
  print('odd')

odd

In [75]:
list1 = []
list2 = []
list3 = []
list4 = []
for i in range(1,101,1):
  list1.append(i)
  if i % 2 == 0:
    list2.append(i)
  else:
    list3.append(i)
  if i % 5 ==0 or i % 7 ==0:
    list4.append(i)

In [76]:
print(list4)
print(list1)
print(list3)
print(list2)

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49, 50, 55, 56, 60, 63, 65, 70, 75, 77, 80, 84, 85, 90, 91, 95, 98, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [77]:
a,b,c = 15,10,12
if a>b:
  print('greater')
elif a<b:
  print('lesser')
elif a == b:
  print('equal')
elif a>c:
  print('a is greater than c')

greater

In [78]:
a,b,c = 5,5,12
if a>b:
  print('greater')
if a<c:
  print('lesser')
if a==b:
  print('equal')
if b<c:
  print('c is greater than b')

lesser
equal
c is greater than b

In [79]:
list1 = []
for i in range(1,11,1):
  list1.append(i)
  print(list1)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
list1 [0::3]

[1, 4, 7, 10]

In [82]:
i = [0,1]
x = []
for l in i:
  for m in i:
    for n in i:
      print(l,m,n)

0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1

In [83]:
i = [1,2,3,4,5,6]
x = []
for l in i:
  for m in i:
    x.append((l,m))

In [84]:
x

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

In [85]:
n = 100
x = []
for i in range(1,101,1):
  if n % i == 0:
    x.append(i)

In [86]:
x

[1, 2, 4, 5, 10, 20, 25, 50, 100]

In [87]:
n = 19
k = 0
for i in range(1,19,1):
  if n % i ==0:
    k = k + 1
if k ==2:
  print('n is prime no:')
else:
  print('n is not a prime no:')
print(k)

n is not a prime no:
1

In [88]:
k

1

In [89]:
s = 'hari'

i=s[0]
m=s[int(len(s)/2)]
l=s[len(s)-1]
print(i+m+l)

hri

In [90]:
def print_numbers():
  print(5)
  print(100)
print_numbers()
print_numbers()

5
100
5
100

In [91]:
def plus_ten(numbers):
  result = numbers + 5
  print(result)


plus_ten(100)
plus_ten(20)

105
25

In [92]:
# Replace ___ with your code

def display_info(name,location):
    print(name)
    print(location)

# take user input
country = input()

# call the function with arguments 'Taylor' and country
display_info('Taylor',country)

Taylor

In [93]:
a=input('enter the number:')

enter the number:5

In [94]:
def fn(a,b):
  c=a+b
  print(c)
fn(3,5)

8

In [95]:
def greet(name):
    greeting = 'Hello ' + name
    return greeting

result = greet('Ana')
print(result)
result = greet('Jacob')
print(result)

Hello Ana
Hello Jacob

In [96]:

# function definition
def get_product(number1, number2):
    result=number1*number2
    return result

# get integer input from the user
n1 = int(input())
n2 = int(input())

# call the function with n1 and n2 as arguments
# store the returned value in the total variable
total = get_product(n1,n2)
print(total)

5
5
25

In [97]:
# Replace ___ with your code
def check_vowel(character):

    if(character == 'a' or character == 'e' or character == 'i' or character == 'o' or character == 'u'):
        return "vowel"

    return "not vowel"

character = input()
result = check_vowel(character)
print(result)

a
vowel

In [98]:
def greet():
    greeting = 'Hello'

    print(greeting)
greet()

Hello

In [99]:
# Replace ___ with your code
# create a function checkMultipleofThree
def checkMultipleofThree(num):

    # check if num is divisible true
    if num % 3 == 0:

        # return True
        return True

    # return False
    return False


#take input from user
num = int(input())

# call the function to check if the number is multiple of 3
result = checkMultipleofThree(num)

# print the number
print(result)

9
True

In [100]:
# Replace ___ with your code

def compute_factorial(n):
    factorial = 1

    # computer factorial
    for i in range(1,n+1):
        factorial = factorial * i

    # return factorial
    return factorial

# get user input
number = int(input())
total = compute_factorial(number)

print(total)

5
120

In [101]:
def compute_factorial(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

number = int(input("Enter a non-negative integer: "))
total = compute_factorial(number)
print(f"The factorial of {number} is {total}")

Enter a non-negative integer: 9
The factorial of 9 is 362880

In [105]:
class Market:
  def __init__(self,veg_price,veg_quantity,fru_price,fru_quantity,cho_price,cho_quantity):
    self.veg_price=veg_price
    self.veg_quantity=veg_quantity
    self.fru_price=fru_price
    self.fru_quantity=fru_quantity
    self.cho_price=cho_price
    self.cho_quantity=cho_quantity
    self.__discount=0.20

  def set_discount(self,discount):
      self.__discount=discount

  def get_price(self):
       self.veg_cost=self.veg_price*self.veg_quantity*(1-self.__discount)
       self.fru_cost=self.fru_price*self.fru_quantity*(1-self.__discount)
       self.cho_cost=self.cho_price*self.cho_quantity*(1-self.__discount)
       return self.veg_cost,self.fru_cost,self.cho_cost

  def __repr__(self):
     return f"cost on veg:{self.veg_cost},cost on fru:{self.fru_cost},cost on cho:{self.cho_cost}"

In [106]:
m=Market(20,4,30,3,40,2)
m.get_price()

(64.0, 72.0, 64.0)

In [107]:
print(m)

cost on veg:64.0,cost on fru:72.0,cost on cho:64.0

In [108]:
def myFunc(*args):
  for arg in args:
    print(arg)

In [109]:
myFunc('hi')

hi